.topNavbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #445566; /* Dark background color */
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.rightSection {
  display: flex;
  align-items: center;
}

.notificationIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.notificationIcon {
  font-size: 20px;
  color: #ffffff; /* White color for icon */
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: bold;
  color: #ffffff; /* White color for username */
}

.userRole {
  color: #cccccc; /* Light gray color for user role */
  font-size: 14px;
}

.signOutPopup {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.signOutText {
  color: #333333; /* Darker text color */
  margin-bottom: 8px;
}

.confirmButton,
.cancelButton {
  margin-right: 8px;
}

.signOutButton {
  background-color: #f5222d; /* Red background color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Smoother transition */

  /* Optional: Add box-shadow for better visibility */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.signOutButton:hover {
  opacity: 0.9; /* Reduce opacity on hover */
  background-color: #d91e29; /* Darken background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adjust box-shadow on hover */
}
