# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN PassengerAppRoot
"/home/ninhpdvn/api.sportlinker.site" PassengerBaseURI "/" PassengerNodejs
"/home/ninhpdvn/nodevenv/api.sportlinker.site/20/bin/node" PassengerAppType node
PassengerStartupFile index.js # DO NOT REMOVE. CLOUDLINUX PASSENGER
CONFIGURATION END
