.signUpPageContainer {
	display: flex;
	height: 100vh;
}

.leftSide {
		flex: 1;
		background: url('../../assets/images/background.png') center center/cover no-repeat; /* Adjust the path to your image */
}

.rightSide {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(0, 0, 0);
	padding: 20px;
}

.signUpHeader {
	margin-bottom: 20px;
}

.signUpHeader h1 {
	color: #ffffff;
	font-size: 36px;
	margin: 0;
}

.signUpForm {
	width: 100%;
	max-width: 400px;
}

.formItem {
	margin-bottom: 16px;
}

.inputForm {
	width: 100%;
}

.signUpButton {
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-color: #f1f1f1;
	color : black;
}

.signUpButton:hover,
.signUpButton:focus {
	background-color: #ffffff;
	border-color: #a7a7a7;
}

.signInLink {
	margin-top: 10px;
	text-align: center;
	color: #f1f1f1;
}

.signInLink a {
	color: #1890ff;
	text-decoration: none;
}

.signInLink a:hover {
	text-decoration: underline;
}
